@import "bootstrap/_variables";

/* Sticky footer styles
 * -------------------------------------------------- */

$footer-height: 60px;

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: $footer-height;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	text-align: center;
}

nav + .container-fluid {
	padding-bottom: $footer-height;
}

footer > div {
	padding-top: $footer-height / 3;
	padding-bottom: $footer-height / 10;
	background-color: $navbar-default-bg;
	border-top-color: $navbar-default-border;
	border-top-width: 1px;
	border-top-style: solid;
}

.flag {
	height: $footer-height / 4;
}
