<footer class="footer container-fluid">
  <div class="row">
	  <div class="col-xs-12 col-sm-4">
		  <p>&copy; Team Racket 2014</p>
	  </div>
	  <div class="col-xs-12 col-sm-4">
		  <p>Links</p>
	  </div>
	  <div class="col-xs-12 col-sm-4">
		  <%= link_to "<img src='/flag_#{@flag}.png' class='flag' />".html_safe, url_for(:only_path => false, :locale => @flag) %>
	  </div>
  </div>
</footer>
